description "Gunicorn server for {{ host }}"

start on net-device-up
stop on shutdown

respawn

chdir /home/vagrant/sites/{{ host }}/source
exec ../virtualenv/bin/gunicorn \
    --bind unix:/tmp/{{ host }}.socket \
    --access-logfile ../access.log \
    --error-logfile ../error.log \
    superlists.wsgi:application
